.homemain {
    position: relative;
    padding: 178px 0 30px;
    overflow: hidden;

    @include md3 {
        padding: 292px 0 20px;
    }

    &::before {
        content: '';
        position: absolute;
        width: 50%;
        height: calc(100% + 30px);
        top: -15px;
        background: rgba(10, 10, 12, 1);
        z-index: 1;
        mix-blend-mode: overlay;
        filter: blur(29px);

        @include md3 {
            display: none;
        }
    }

    &::after {
        content: '';
        position: absolute;
        right: 0;
        width: calc(100% + 24px);
        height: 407px;
        bottom: -93px;
        background: linear-gradient(180deg, #0A0A0A 34.31%, rgba(0, 0, 0, 0) 100%);
        transform: rotate(180deg);
        filter: blur(29px);

        @include md3 {
            top: 113px;
            bottom: auto;
            height: 307px;
            width: 100%;
            background: linear-gradient(180deg, #0A0A0A 27.46%, rgba(0, 0, 0, 0) 76.25%);
        }
    }

    &__video {
        position: absolute;
        right: 0;
        top: 0;
        width: calc(100% - 205px);
        height: 100%;

        @include md3 {
            height: 331px;
            width: calc(100% + 178px);
            right: -8px;
            top: 3px;
        }

        video {
            @include ibg;
        }
    }

    &__content {
        position: relative;
        z-index: 1;
        max-width: 656px;
    }

    &__sub {
        margin-bottom: 24px;
        @include b1;

        @include md3 {
            margin-bottom: 12px;
        }

        .green {
            color: $green;
        }

        .red {
            color: $red;
        }
    }

    &__title {
        @include h1;
        margin-bottom: 24px;

        @include md3 {
            margin-bottom: 12px;
        }
    }

    &__desc {
        @include b1;
    }

    &__btn {
        margin-top: 44px;

        @include md3 {
            margin-top: 32px;
        }

        @include md4 {
            width: 100%;
        }
    }

    &__quote {
        @include b5;
        color: $gray;
        margin-top: 72px;

        @include md3 {
            display: none;
        }
    }
}

.steps {
    padding: 84px 0;
    overflow: hidden;

    @include md3 {
        padding: 58px 0;
    }

    &__title {
        margin-bottom: 70px;
        @include h2;
        position: relative;
        z-index: 1;

        @include md3 {
            margin-bottom: 24px;
        }
    }

    &__content {
        position: relative;
        @include flexcntb;
        gap: 80px;

        @include md3 {
            flex-direction: column;
            justify-content: flex-start;
            gap: 0;
        }
    }

    &__items {
        @include flexcol;
        gap: 70px;
        position: relative;
        z-index: 1;

        @include md3 {
            gap: 0;
        }
    }

    &__item {
        @include flexcol;
        max-width: 419px;

        @include md3 {
            @include card;
            padding: 24px 16px;
            max-width: 100%;
        }
    }

    &__item-sub {
        margin-bottom: 24px;
        @include b1;
    }

    &__item-title {
        @include h3;
        color: $green;
    }

    &__item-desc {
        margin-top: 8px;
        @include b1;
    }

    &__img {
        position: absolute;
        @include center;
        max-width: 660px;
        width: 100%;

        @include md2 {
            max-width: 550px;
        }

        @include md3 {
            position: relative;
            top: 0;
            left: 0;
            transform: none;
            margin-top: 24px;
        }

        img {
            @include ibg;
            object-fit: contain;
        }
    }

    &__img-ray {
        position: absolute;
        width: 31%;
        height: 42%;
        top: 34%;
        left: 33%;
        animation: raymove 5s ease-in-out infinite;

        svg {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

@keyframes raymove {
    0%, 100% {
        transform: translateX(-8%);
    }
    50% {
        transform: translateX(8%);
    }
}

.fullcycle {
    padding: 100px 0;
    @include border-bottom;

    @include md3 {
        padding: 60px 0;
    }

    &__body {
        @include flexcntb;
        gap: 44px;

        @include md2 {
            flex-direction: column;
            text-align: center;
        }
    }

    &__left {
        max-width: 477px;
        @include flexcol;
        row-gap: 12px;

        @include md1 {
            max-width: 400px;
        }

        @include md2 {
            max-width: 100%;
        }
    }

    &__left-title {
        @include h2;
    }

    &__left-desc {
        @include b1;
    }

    &__eye {
        max-width: 60px;
        @include flexcnt;

        img {
            width: 100%;
        }
    }

    &__desc {
        max-width: 504px;
        @include b1;
        align-self: flex-end;

        @include md1 {
            max-width: 400px;
        }

        @include md2 {
            max-width: 100%;
            align-self: center;
        }
    }
}

.flagman {
    position: relative;
    overflow: hidden;

    @include md3 {
        padding: 60px 0;
    }

    &::before {
        content: '';
        position: absolute;
        left: -286px;
        top: -207px;
        width: 1455px;
        height: 942px;
        transform: rotate(90deg);
        background: linear-gradient(180deg, rgba(10, 10, 12, 0) 15.32%, #0A0A0C 99.29%);
        z-index: 1;

        @include md3 {
            display: none;
        }
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 108px;
        z-index: 1;
        background: linear-gradient(180deg, rgba(10, 10, 12, 0.0) 15.32%, #0A0A0C 49.29%);

        @include md3 {
            display: none;
        }
    }

    &__body {
        min-height: 628px;
        @include flexcol;
        gap: 24px;
        justify-content: center;
        align-items: flex-start;
        max-width: 328px;

        @include md3 {
            gap: 32px;
            min-height: 0;
            max-width: 100%;
        }
    }

    &__top {
        position: relative;
        z-index: 2;
        @include flexcol;
        gap: 12px;
        align-items: flex-start;
    }

    &__sub {
        background: $green;
        padding: 12px;
        @include b5;
        color: $black;
        border-radius: 10px;
    }

    &__title {
        @include h1;
        margin-bottom: 12px;

        @include md3 {
            @include h2;
            margin-bottom: 8px;
        }

        &--mob {
            display: none;
            margin-bottom: 0;

            @include md3 {
                display: block;
            }
        }
    }

    &__video {
        position: absolute;
        right: -224px;
        top: -70px;
        width: calc(100% - 94px);
        height: calc(100% + 140px);
        z-index: 0;
        max-width: 1600px;

        @include md1 {
            width: 100%;
        }

        @include md2 {
            right: 0;
        }

        @include md3 {
            position: static;
            width: 100%;
            aspect-ratio: 350 / 176;
            height: unset;
            border-radius: 20px;
            overflow: hidden;
            transform: rotate(180deg);
        }

        video {
            object-fit: cover;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;

            @include md3 {
                position: static;
            }
        }
    }

    &__bottom {
        position: relative;
        z-index: 2;
    }

    &__desc {
        @include b1;
    }

    &__btn {
        margin-top: 44px;

        @include md3 {
            margin-top: 24px;
        }

        @include md4 {
            width: 100%;
        }
    }
}

.tech {
    padding: 100px 0;
    overflow: hidden;
    @include border-top;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 1px;
        width: 27%;
        height: calc(100% - 1px);
        background: linear-gradient(270deg, rgba(10, 10, 12, 0) 0%, #0A0A0C 20.29%);
        z-index: 1;
        pointer-events: none;

        @include md2 {
            width: 35%;
        }

        @include md3 {
            display: none;
        }
    }

    @include md3 {
        padding: 60px 0;
    }

    &__body {
        @include flex;

        @include md3 {
            flex-direction: column;
            gap: 24px;
        }
    }

    &__content {
        @include flexcol;
        justify-content: space-between;
        gap: 24px;
        width: 27%;
        align-items: flex-start;
        padding-right: 32px;
        position: relative;
        z-index: 2;

        @include md2 {
            width: 35%;
        }

        @include md3 {
            width: 100%;
            padding-right: 0;
        }
    }

    &__title {
        @include h2;
    }

    &__btn {
        @include md3 {
            display: none;
        }

        &--mob {
            display: none;

            @include md3 {
                display: block;
                max-width: max-content;
            }

            @include md4 {
                max-width: 100%;
            }
        }
    }

    &__slider {
        width: 73%;

        @include md2 {
            width: 65%;
        }

        @include md3 {
            width: 100%;
        }

        .swiper-slide {
            height: auto;
            transition: width 0.3s ease;

            &:nth-child(1) {
                .tech__slide-img {
                    &::before {
                        top: 21px;
                        right: 18px;
                    }
                }
            }

            &:nth-child(2) {
                .tech__slide-img {
                    &::before {
                        top: 7px;
                        right: 30.5px;
                    }
                }
            }

            &:nth-child(3) {
                .tech__slide-img {
                    &::before {
                        top: 35.5px;
                        right: 9px;
                    }
                }
            }

            &:nth-child(4) {
                .tech__slide-img {
                    &::before {
                        top: 7px;
                        right: 26px;
                    }
                }
            }

            &._hovered {
                position: relative;
                z-index: 2;

                .tech__slide {
                    transform: scale(1.05);
                }
            }
        }
    }

    &__slide {
        @include card;
        @include flexcol;
        height: 100%;
        padding: 24px 16px;
        transition: transform 0.3s ease;
        position: relative;

        &:hover {
            .tech__slide-img {
                &::before {
                    animation: techpoint 1s ease-in-out infinite;
                }
            }

            .tech__slide-btn {
                color: $red;

                path {
                    stroke: $red;
                }
            }
        }
    }

    &__slide-link {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    &__slide-img {
        margin-bottom: 24px;
        @include flexcnt;
        max-width: max-content;
        height: 54px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            min-width: 6px;
            max-width: 6px;
            height: 6px;
            background: $red;
            border-radius: 100%;
        }

        img {
            @include ibg;
            object-fit: contain;
            object-position: left;
        }
    }

    &__slide-title {
        @include h4;
        color: $green;
        margin-bottom: 12px;
    }

    &__slide-desc {
        @include b3;
        margin-bottom: 24px;
    }

    &__slide-btn {
        margin-top: auto;
        @include flexcnt;
        gap: 8px;
        color: $green;
        text-decoration: none;
        @include b4;
        transition: 0.3s ease;

        path {
            transition: 0.3s ease;
        }
    }
}

@keyframes techpoint {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
}

.request {
    padding: 100px 0;
    @include border-top;

    @include md3 {
        padding: 60px 0;
    }

    &__body {
        @include flex;
        align-items: flex-start;
        gap: 44px;

        @include md2 {
            flex-direction: column;
            align-items: center;
            gap: 24px;
        }
    }

    &__left {
        min-width: fit-content;
        @include flexcol;
        gap: 4px;
    }

    &__title {
        @include h2;
    }

    &__desc {
        @include b1;
    }

    form {
        width: 100%;
        @include flexcol;
        gap: 24px;

        @include md3 {
            gap: 32px;
        }
    }

    &__form-top {
        @include grid(12px, 12px);
    }

    &__input-wrap {
        grid-column: 4 span;
        position: relative;

        @include md3 {
            grid-column: 12 span;
        }

        input {
            width: 100%;
            background: $gray-for-form;
            border-radius: 10px;
            @include b3;
            padding: 25px 12px 7px;
            border: 1px solid transparent;
            color: white;
            transition: border-color 0.2s ease;

            &::placeholder {
                color: transparent;
            }

            @include md3 {
                padding: 39px 12px 6px;
            }
        }

        label {
            position: absolute;
            left: 12px;
            top: 50%;
            transform: translateY(-50%);
            @include b3;
            color: $gray;
            pointer-events: none;
            transition: 0.2s ease;
        }

        input:focus,
        input:not(:placeholder-shown) {

            & + label {
                top: 4px;
                transform: translateY(0);
                @include b6;
                color: $gray;

                @include md3 {
                    top: 12px;
                }
            }
        }

        &._error {
            input {
                border-color: $red;
            }

            label {
                top: 10px;
                transform: translateY(0);
                font-size: 12px;
                line-height: 140%;
                color: $red;
            }
        }

        &__error-msg {
            @include b5;
            color: $red;
            margin-top: 4px;
            padding-left: 12px;
        }
    }

    &__form-bottom {
        @include flexcntb;
        gap: 24px;

        @include md3 {
            flex-direction: column;
        }

        label {
            input {
                display: none;
            }

            span {
                position: relative;
                padding-left: 34px;
                cursor: pointer;
                @include b5;
                color: $gray;
                user-select: none;
                display: inline-block;

                a {
                    color: $green;
                }

                &::before {
                    content: '';
                    min-width: 24px;
                    max-width: 24px;
                    height: 24px;
                    background-color: $gray-for-form;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    border-radius: 4px;
                }
            }

            input:checked + span::before {
                background-image: url('../img/checked.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: 14px 10px;
            }
        }

        input[type=submit] {
            padding: 14px 20px;

            @include md3 {
                width: 100%;
                padding: 18px;
            }
        }
    }
}

.homeeq {
    @include border-top;
    padding: 100px 0;
    overflow: hidden;
    position: relative;

    @include md3 {
        padding: 60px 0;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 1px;
        width: 35%;
        height: calc(100% - 1px);
        background: linear-gradient(270deg, rgba(10, 10, 12, 0) 0%, #0A0A0C 20.29%);
        z-index: 1;
        pointer-events: none;

        @include md2 {
            width: 35%;
        }

        @include md3 {
            display: none;
        }
    }

    &__body {
        @include flex;

        @include md3 {
            flex-direction: column;
            gap: 24px;
        }
    }

    &__content {
        @include flexcol;
        justify-content: space-between;
        gap: 24px;
        width: 34%;
        align-items: flex-start;
        padding-right: 50px;
        position: relative;
        z-index: 2;

        @include md2 {
            width: 35%;
        }

        @include md3 {
            width: 100%;
            padding-right: 0;
        }
    }

    &__top {
        @include flexcol;
        gap: 24px;
    }

    &__title {
        @include h2;
    }

    &__desc {
        @include b1;
    }

    &__arrows {
        @include flex;
        gap: 12px;

        @include md3 {
            display: none;
        }
    }

    &__arrow {
        @include flexcnt;
        padding: 12.5px 20px;
        border-radius: 10px;
        background: linear-gradient(180deg, #0A0A0C 0%, #1C1C22 50%, #0A0A0C 100%);
        position: relative;
        cursor: pointer;
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            transition: 0.3s ease;
            background: $green;
        }

        svg {
            position: relative;
            z-index: 1;
            path {
                stroke: $black;
                transition: 0.3s ease;
            }
        }

        &.swiper-button-disabled {
            &::before {
                background: transparent;
            }

            path {
                stroke: $gray;
            }

            &:hover {
                cursor: default;
                &::before {
                    background: transparent;
                }

                path {
                    stroke: $gray;
                }
            }
        }

        &:hover {
            &::before {
                background: $red;
            }

            path {
                stroke: white;
            }
        }
    }

    &__btns {
        @include flex;
        flex-wrap: wrap;
        gap: 12px;

        @include md3 {
            display: none;
        }

        &--mob {
            display: none;

            @include md3 {
                display: flex;
            }
        }
    }

    &__btn {
        user-select: none;
        flex-grow: 1;
    }

    &__slider {
        width: 66%;

        @include md2 {
            width: 65%;
        }

        @include md3 {
            width: 100%;
        }

        .swiper-slide {
            height: auto;
            transition: width 0.3s ease;

            &._hovered {
                position: relative;
                z-index: 2;

                .homeeq__slide {
                    transform: scale(1.03);
                }
            }
        }

        .swiper-pagination {
            display: none;

            @include md3 {
                display: flex;
            }
        }
    }

    &__slide {
        @include card;
        @include flexcol;
        height: 100%;
        padding: 24px;
        transition: transform 0.3s ease;
        position: relative;

        &:hover {

            .homeeq__slide-btn {
                color: $red;

                path {
                    stroke: $red;
                }
            }
        }
    }

    &__slide-link {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    &__slide-img {
        height: 240px;
        @include flexcnt;

        img {
            @include ibg;
            object-fit: contain;
        }
    }

    &__slide-title {
        margin-bottom: 12px;
        @include h4;
        color: $green;
    }

    &__slide-desc {
        margin-bottom: 46px;
        @include b3;
    }

    &__slide-btn {
        margin-top: auto;
        @include flexcnt;
        gap: 8px;
        color: $green;
        text-decoration: none;
        @include b4;
        transition: 0.3s ease;

        path {
            transition: 0.3s ease;
        }
    }
}

.videos {
    padding: 100px 0;
    @include border-top;

    @include md3 {
        padding: 44px 0 60px;
    }

    &__title {
        text-align: center;
        @include h2;

        @include md3 {
            text-align: left;
        }
    }

    &__desc {
        text-align: center;
        @include b1;
        max-width: 690px;
        margin: 0 auto;
        margin-top: 24px;

        @include md3 {
            margin-top: 12px;
            text-align: left;
        }
    }

    &__slider {
        overflow: hidden;
        margin-top: 44px;
        position: relative;

        @include md3 {
            margin-top: 24px;
        }

        .swiper-wrapper {
            align-items: center;
            height: 100%;
        }

        .swiper-slide {
            transition: width 0.3s ease;
            @include flexcnt;

            &._hovered {
                .videos__slide-img {
                    height: 186px;
                }

                .videos__slide-sub {
                    font-size: 18px;
                }

                .videos__slide-title {
                    font-size: 22px;
                }
            }
        }
    }

    &__slide {
        padding: 24px 24px 47px;
        @include card;

        @include md3 {
            padding: 24px 16px;
        }
    }

    &__slide-link {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    &__slide-img {
        height: 169px;
        border-radius: 6px;
        overflow: hidden;
        position: relative;
        margin-bottom: 24px;
        transition: height 0.3s ease;

        img {
            @include ibg;
        }
    }

    &__slide-img-play {
        position: absolute;
        @include center;
        min-width: 64px;
        max-width: 64px;
        height: 64px;
        @include flexcnt;
        justify-content: center;
        border-radius: 100%;
        background: $red;
        transition: 0.3s ease;
        z-index: 2;

        svg path {
            fill: white;
            transition: 0.3s ease;
        }

        &:hover {
            background: $green;

            svg path {
                fill: $black;
            }
        }
    }

    &__slide-sub {
        margin-bottom: 12px;
        @include b3;
        color: $green;
        transition: font-size 0.3s ease;

        @include md3 {
            @include b4;
        }
    }

    &__slide-title {
        @include h4;
        transition: font-size 0.3s ease;

        @include md3 {
            @include h3;
        }
    }

}
